<h1>
  <%= t('.header') %> |
  <%= link_to "#{t('.new')}", new_admin_badge_path, class: "btn btn-primary" %>
</h1>

<table class="table table-sm table-bordered col-lg-8">
  <thead class="bg-dark text-light">
    <tr>
      <th style="width: 64px">Image</th>
      <th>Name</th>
      <th>Category</th>
      <th>Rule</th>
      <th style="width: 10%" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @badges.each do |badge| %>
      <tr>
        <td><img src="<%= badge.image %>" alt="" width="64px" height="64px"></td>
        <td><%= badge.name %></td>
        <td><%= badge.category.title %></td>
        <td><%= badge.badge_rule.name %></td>
        <td><%= link_to 'Show', admin_badge_path(badge) %></td>
        <td><%= link_to 'Edit', edit_admin_badge_path(badge) %></td>
        <td><%= link_to 'Destroy', admin_badge_path(badge), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
