<div class="row">
  <div class="col col-md-12">
    <h2 class="main-dark-color"><%= t('.header', title: @test_passage.test.title) %></h2>

    <div class="p-3 card border border-primary">
      <p>
        <b class=""><%= @test_passage.current_question.body %></b>
        <span class="float-right font-weight-light">| <%= @test_passage.question_number %> из <%= @test_passage.test.questions.count %> |</span>
      </p>
  
      <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
        <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
          <div class="form-group pl-4">
            <div class="form-check mb-1">
              <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input " %>
              <%= b.label %>
            </div>
            </div>
        <% end %>
          <p>
            <%= form.submit "#{t('.next')}", class: "btn btn-light btn-sm" %>
          </p>
      <% end %>
    </div>
  </div>
  
</div>
