<%= form_with(model: [:admin, @question, @answer], local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-md-6">
    <%= form.label :body %>
    <%= form.text_area :body, id: :answer_body, rows: 7, cols: 60, class: "form-control" %>
  </div>

   <div class="form-check mb-1 col-md-6">
    <%= form.check_box :correct, id: :answer_correct, class: "form-check-input" %>
    <%= form.label :correct %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "#{t('back')}", admin_question_path(@question), class: "btn btn-danger" %>
  </div>
<% end %>
