<h2><%= @question.test.title %></h2>
<h4><%= @question.body %></h4>
</br>
<h2><%= t('.header') %></h2>

<%= link_to "#{t('.new_answer')}", new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>
<%= link_to "#{t('back')}", admin_test_path(@question.test), class: "btn btn-danger" %>
