<h1>
  <%= t('.header') %> |
  <%= link_to "#{t('.new')}", new_admin_category_path, class: "btn btn-primary" %>
</h1>

<table class="table table-sm table-bordered col-lg-4">
  <thead class="bg-dark text-light">
    <tr>
      <th>title</th>
      <th style="width: 10%" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.title, admin_category_path(category) %></td>
        <td class="px-1">
          <%= link_to edit_admin_category_path(category) do %>
            <i title="Редактировать" class="align-middle material-icons md-18">create</i>
          <% end %>
        </td>
        <td class="px-1 text-center">
          <%= link_to admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="align-middle material-icons md-18">delete</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
