<tr class="font-weight-light">
  <td class="align-middle">
    <%= content_tag :span, "#{link_to test.title, admin_test_path(test)}".html_safe, class: "test-title", data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="text-center"><%= test_level(test) %></td>
  <td class="text-center"><%= test.category.title %></td>
  <td class="text-center"><%= test.questions.count %></td>

  <td class="text-center">
    <%= link_to t('.edit'), edit_admin_test_path(test), data: { test_id: test.id }, class: 'form-inline-link' %>
  </td>

  <td class="px-1 text-center"><%= link_to admin_test_path(test), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="align-middle material-icons md-18">delete</i>
    <% end %>
  </td>
</tr>
