<h1>
  <%= t('.header') %> |
  <%= link_to "#{t('.new')}", new_admin_test_path, class: "btn btn-primary" %>
</h1>

<%= render 'shared/errors', resource: @test %>

<table class="table table-sm bg-white table-bordered">
  <thead>
    <tr class="bg-dark text-light">
      <th class="sort-by-title pointer align-middle" >
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th class="text-center align-middle" style="width: 10%"><%= t('.level') %></th>
      <th class="text-center align-middle" style="width: 10%"><%= t('.category') %></th>
      <th class="text-center" style="width: 10%"><%= t('.number_of_questions') %></th>
      <th colspan="2" style="width: 10%"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>

<br>
