<h2><%= @test.title %></h2>

<p>
  <%= t('.level') %>: <strong><%= test_level(@test) %></strong>
</p></br>

<h4><%= t('.header') %></h4>

<%= render @test.questions %>

<br>

<%= link_to "#{t('.new_question')}", new_admin_test_question_path(@test), class: "btn btn-primary" %>
<%= link_to "#{t('edit')}", edit_admin_test_path(@test), class: "btn btn-info" %>
<%= link_to "#{t('back')}", admin_tests_path, class: "btn btn-danger" %>
