<h2><%= @test.title %></h2>

<p>
  Level: <strong><%= @test.level %></strong>
</p></br>

<%= render partial: "questions/test_questions", collection: @test.questions %>

<br>

<%= link_to 'New Question', new_test_question_path(@test) %> |
<%= link_to 'Edit', edit_admin_test_path(@test) %>
<%= link_to 'Back', admin_tests_path %>
