<h2 class="rounded-h2 main-text-color text-center main-bg-dark py-1 px-5 text-uppercase font-weight-bold"><%= t('.header') %></h2>

<table class="table bg-white border-iron shadow">

    <tr>
      <th class="sort-by-title pointer">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('.level') %></th>
      <th><%= t('.category') %></th>
      <th><%= t('.number_of_questions') %></th>
      <th colspan="1"></th>
    </tr>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>
